<%- include partials/header.ejs %>

<div class="container main">
  <table class="table table-striped">
    <tr>
      <td>
      Order ID</td>
      <td >
        <b> <%- order[0].orderid%></b>
      </td>
    </tr>
    <tr>
      <td>Client</td>
      <td><a href="/admin/user/<%- order[0].userid%>"><%- order[0].username%></a></td>
    </tr>

    <tr>
      <td>Items Ordered</td>
      <td>
      <ul>
  <% for (let item of order)
        {
          %>
                <li>
             <a href="/admin/menu/<%- item.menuid %>"><%- item.menuname %></a></li>
          <%
        } %>
      </ul>
      </td>
        </tr>
    <tr>
      <td>Date Ordered</td>
      <td><%- order[0].ordertime%></td>
    </tr>
    <tr>
      <td>Order Status</td>
      <td>
        <select name="status" class="form-control">
          <option value="<%- order[0].orderstatus %>"><%- order[0].orderstatus %></option>"
          <option value="completed">Completed</option>
          <option value="cancelled">Cancelled</option>
          <option value="processing">Processing</option>
        </select>
        <button class="btn btn-primary my-2">Update</button>
        </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <form action="/admin/message" method="post">

      <textarea class="form-control" name="messageContent" required></textarea>
      <button class="my-2 btn btn-danger" name="messageMethod" value="email">Send Email</button>
      <button class="my-2 btn btn-info" name="messageMethod" value="text">Send Text</button>
      <input type="hidden" name="orderId" value="<%- order[0].orderid%>">
    </form></td>
    </tr>
  </table>
</div>

<%- include partials/footer.ejs %>
