<%- include partials/header.ejs %>




<div class="container main">
  <table class="table table-striped">
    <tr>
      <td>Order ID</td>
      <td>
        <b> <%- orders[0].orderid%></b>
      </td>
    </tr>
    <tr>
      <td>Client</td>
      <td><a href="/admin/user/<%- orders[0].userid%>"><%- orders[0].username%></a></td>
    </tr>

    <tr>
      <td>Items Ordered</td>
      <td>
      <ul>

    <% for (let order of orders)
        {
          %>
                <li>
             <a href="/admin/menu/<%- order.menuid %>"><%- order.menuname %></a></li>
          <%
        } %>
      </ul>
      </td>
        </tr>
    <tr>
      <td>Date Ordered</td>
      <td><%- orders[0].ordertime%></td>
    </tr>
    <tr>
      <td>Order Status</td>
      <td>
        <select name="status" class="form-control">
          <option value="<%- orders[0].orderstatus %>"><%- orders[0].orderstatus %></option>"
          <option value="completed">Completed</option>
          <option value="cancelled">Cancelled</option>
          <option value="processing">Processing</option>
        </select>
        <button class="btn btn-primary my-2">Update</button>
        </td>
    </tr>

    <tr>
      <td></td>
      <td><textarea class="form-control">Send message</textarea>
      <button class="my-2 btn btn-danger">Send</button></td>
    </tr>
  </table>
</div>

<%- include partials/footer.ejs %>
