<%- include partials/header.ejs %>




<div class="container main">
  <table class="table table-striped">
    <tr>
      <td>
        <b><%- user.name%></b>
      </td>
    </tr>

    <tr>
      <td>
        <b><%- user.email%></b>
      </td>
    </tr>


    <tr>
      <td>
        <b><%- user.phone_number%></b>
      </td>
    </tr>

    <tr>
      <td>
        <b>Recent Orders</b>
        <table class="table table-striped">
<tr>
  <td>ID</td>
  <td>Date</td>
  <td>Status</td>
</tr>

   

        <% orders.map(order =>
        {
        %>
        <tr>
          <td><a href="/admin/order/<%- order.id %>"><%- order.id %></a></td>
          <td><%- order.order_status %></td>
          <td><%- order.order_time %></td>
        </tr>
        <%
        }) %>
      </></tr></table>
      </td>
    </tr>


  </table>
</div>

<%- include partials/footer.ejs %>
