<%- include partials/header.ejs %>




<div class="container main">
  <h2><%- user.name%> (Client ID: <%- user.id%>)</h2>
  <table class="table table-striped">
    <tr>
      <td>
        <label for="name">Name</label>
        <input value="<%- user.name%>" type="text" name="name" class="form-control">
      </td>
    </tr>

    <tr>
      <td>
        <label for="email">Email</label>
        <input value="<%- user.email%>" type="email" name="email" class="form-control">
      </td>
    </tr>


    <tr>
      <td>
        <label for="phone_number">Phone #</label>
        <input value="<%- user.phone_number%>" type="text" name="phone_number" class="form-control">
      </td>
    </tr>

    <tr>
      <td>
        <button class="form-control btn btn-primary">Update</button>
      </td>
    </tr>

    <tr>
      <td>
        <b>Recent Orders</b>
        <table class="table table-striped">
<tr>
  <td>ID</td>
  <td>Date</td>
  <td>Status</td>
</tr>

   

        <% orders.map(order =>
        {
        %>
        <tr>
          <td><a href="/admin/order/<%- order.id %>"><%- order.id %></a></td>
          <td><%- order.order_status %></td>
          <td><%- order.order_time %></td>
        </tr>
        <%
        }) %>
      </></tr></table>
      </td>
    </tr>


  </table>
</div>

<%- include partials/footer.ejs %>
